<web-app xmlns="http://java.sun.com/xml/ns/j2ee"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://java.sun.com/xml/ns/j2ee
	http://java.sun.com/xml/ns/j2ee/web-app_2_4.xsd"
	version="2.4">
	<!-- General description of your Web application -->
	<display-name>
		CNT 4714 Spring 2013 Project 4 Servlet
	</display-name>
	<description>
		This is the Web Application which handles
		valid SQL statements / updates.
		</description>
<!-- Servlet definitions -->
	<servlet>
		<servlet-name>MySQLServlet</servlet-name>
		<description>
			Servlet that handles MySQL Statements
		</description>
		<servlet-class>
		MySQLServletDriver
		</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>MySQLServlet</servlet-name>
		<url-pattern>/MySQLServlet</url-pattern>
	</servlet-mapping>
</web-app>